src/*.exe
src/invechcoin
src/invechcoind
src/test_invechcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.invechcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
invechcoin-qt
Invechcoin-Qt.app

# Unit-tests
Makefile.test
invechcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
